<div class="container">
  <h3><b>Cards list</b></h3>

  <div class="row">
    {{#each cards.data}}
      <div class="col-4">
        <div class="card shadow-sm">
          <img src="{{images.small}}" alt="" />
          <p><b>{{name}}</b></p>
          <p>{{status}}</p>
          <form action="/add-favorite" method="POST">
            <input type="hidden" name="apiId" value="{{id}}" />
            <input type="hidden" name="images" value="{{images.small}}" />
            <button type="submit" Id="add">Add</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>